@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

@theme {
  --font-display: Lora, serif;
  --font-sans: system-ui, sans-serif;
  --font-body: DM Sans, sans-serif;

  --color-brown: #241a14;
  --color-muted: #868686;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
